* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 33%;
  padding: 5px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product {
  width: 80%;
}

.product .Image {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background-color: #131313ee;
}

.product .Image img {
  width: 100%;
  height: 100%;
}

.product .bottunPart {
  margin: 5px 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottunPart button {
  padding: 5px;
  border: none;
  color: #ffff;
  outline: none;
  border-radius: 10px;
  background-color: rgba(209, 68, 68, 0.795);
}

.bottunPart button:active {
  background-color: brown;
}

.bottunPart p {
  font-family: monospace;
  font-size: 14px;
  color: #000;
}

@media (max-width: 768px) {
  .container {
    width: 50%;
  }

  .product .Image {
    height: 180px;
  }
}

 